// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task-entity {
    margin: 15px 0;
    .card-title {
        h5 {
            max-width: 70%;
        }
        h5, h1 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .text-mute {
            flex-basis: 120px;
            text-align: right;
        }
    }
}